/* ---------------------------------- reset --------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
}

:root {
  /* font */
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;

  /* primary color */
  --gradient-start: hsl(236, 72%, 79%);
  --gradient-end: hsl(237, 63%, 64%);

  /* Neutral colours */

  --very-light-grayish-blue: hsl(240, 80%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(234, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
}

/* ----------------------------- style the body ----------------------------- */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  background-color: var(--very-light-grayish-blue);
  padding: 64px 24px;
  /* background-image: url(../images/bg-top.svg); */
  background-repeat: no-repeat;
}

/* -------------- style our checkbox as a custom toggle switch -------------- */
.toggle-wrapper {
  display: flex;
  column-gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.toggle-wrapper span {
  color: var(--grayish-blue);
  opacity: 0.5;
}

.toggle {
  appearance: none;
  position: relative;
  background: linear-gradient(
    135deg,
    var(--gradient-start),
    var(--gradient-end)
  );
  margin: 0;

  width: 56px;
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.toggle:hover {
  background: var(--gradient-start);
}

.toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 200ms ease-in-out;
}

.toggle:checked::before {
  transform: translateX(-100%);
}

/* ------------- style the main element, this wraps the 3 cards ------------- */
main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
  max-width: 400px;
}

/* ------------------------- style the default card ------------------------- */
.card {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
  color: var(--grayish-blue);
  min-width: 327px;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
  color: var(--grayish-blue);
}

.package-type {
  font-size: 18px;
  margin: 32px 0 24px 0;
}

.card:nth-of-type(2) {
  background: linear-gradient(
    135deg,
    var(--gradient-start),
    var(--gradient-end)
  );
  color: white;
}

.price {
  display: none;
  font-size: 72px;
  color: var(--dark-grayish-blue);
}

.price:first-letter {
  font-size: 40px;
  vertical-align: middle;
}

.card:nth-of-type(2) .price {
  color: white;
}

.active {
  display: block;
}

.feature-list {
  list-style: none;
}

.feature-list li {
  border-top: 1px solid hsla(232, 13%, 49%, 0.25);
  padding: 16px 0;
  margin: 0 24px;
}

.feature-list li:first-of-type {
  margin-top: 32px;
}

.feature-list li:last-of-type {
  border-bottom: 1px solid hsla(232, 13%, 49%, 0.25);
}

.card:nth-of-type(2) .feature-list li {
  border-top: 1px solid hsla(0, 0%, 100%, 0.25);
}

.card:nth-of-type(2) .feature-list li:last-of-type {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
}

.learn-more {
  background: linear-gradient(
    135deg,
    var(--gradient-start),
    var(--gradient-end)
  );
  color: white;
  margin: 32px 29px;
  padding: 12px 80px;
  border: 1px solid white;
  outline: none;
  border-radius: 6px;
  text-transform: uppercase;
}

.card:nth-of-type(2) .learn-more {
  background: white;
  color: var(--gradient-end);
  border-color: unset;
}

.learn-more:hover {
  background: none;
  color: var(--gradient-start);
  border: 1px solid var(--gradient-start);
  cursor: pointer;
}

.card:nth-of-type(2) .learn-more:hover {
  background: none;
  border-color: white;
  color: white;
}

/* ------------------------------- attribution ------------------------------ */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--gradient-end);
}

/* -------------------------------------------------------------------------- */
/*                                media queries                               */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 1050px;
  }

  .card {
    height: max-content;
  }

  .card:nth-of-type(1) {
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
  }

  .card:nth-of-type(2) .inner-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .card:nth-of-type(3) {
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
  }

  footer {
    position: absolute;
    bottom: 8px;
  }
}
