/* ---------------------------------- reset --------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
}

:root {
  /* font */
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;

  /* primary color */
  --linear-gradient: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

  /* Neutral colours */

  --very-light-grayish-blue: hsl(240, 80%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(234, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
}

/* ----------------------------- style the body ----------------------------- */
body {
  background-color: var(--very-light-grayish-blue);
  padding: 64px 24px;
  /* background-image: url(../images/bg-top.svg); */
  background-repeat: no-repeat;
}

/* -------------- style our checkbox as a custom toggle switch -------------- */
.toggle-wrapper {
  display: flex;
  column-gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.toggle-wrapper span {
  color: var(--grayish-blue);
  opacity: 0.5;
}

#toggle {
  appearance: none;
  position: relative;
  background: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  margin: 0;

  width: 56px;
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

#toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 300ms ease-in-out;
}

#toggle:checked::before {
  transform: translateX(-100%);
}

/* ------------- style the main element, this wraps the 3 cards ------------- */
main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
}

/* ------------------------- style the default card ------------------------- */
.card {
  background-color: white;
  /* padding: 30px; */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
}

.card:nth-of-type(2) {
  background: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
  color: var(--grayish-blue);
}

.package-type {
  font-size: 18px;
  margin: 32px 0 24px 0;
  color: var(--grayish-blue);
}

.price {
  display: none;
  font-size: 72px;
}

.active {
  display: inline;
}

.feature-list {
  list-style: none;
  color: var(--grayish-blue);
}

.feature-list li {
  padding: 12px 0;
}

.learn-more {
  background: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  margin: 32px 29px;
  padding: 14px 82px;
  border: none;
  outline: none;
  border-radius: 6px;
  text-transform: uppercase;
}

.card:nth-of-type(2) .learn-more {
  background-color: white;
}

/* ------------------------------- attribution ------------------------------ */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
